@import "tailwindcss";

.bg-img {
  position: fixed;
  inset: 0;
  background-image: url("/animations/background-large.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}

.nav-link {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: large;
}

.glass-card-news {
  @apply bg-white/10 backdrop-blur-xl border border-white/20 shadow-lg transition transform hover:scale-[1.01];
}

/* GLASS CARD EFFECT */
.glass-card {
  @apply bg-white/10 backdrop-blur-xl rounded-xl p-6 border border-white/20 shadow-lg transition transform hover:scale-[1.02] hover:bg-white/20 cursor-pointer;
}

.card-title {
  @apply text-xl font-semibold mb-2;
}

.card-info {
  @apply opacity-90 text-sm leading-relaxed;
}
